<phpunit
	bootstrap="bootstrap.dist.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ComponentTests">
			<directory suffix="Test.php">./Unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
