<phpunit
	bootstrap="bootstrap.dist.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WpTestsStarter\Test\Integration\Db\USER" value="define-your-db-name" />
		<const name="WpTestsStarter\Test\Integration\Db\NAME" value="define-your-db-name" />
		<const name="WpTestsStarter\Test\Integration\Db\PASSWORD" value="define-your-db-password" />
		<const name="WpTestsStarter\Test\Integration\Db\HOST" value="localhost" />
		<const name="WpTestsStarter\Test\Integration\Db\CHARSET" value="utf8" />
		<const name="WpTestsStarter\Test\Integration\Db\COLLATE" value="" />
		<const name="WpTestsStarter\Test\Integration\Db\TABLE_PREFIX" value="wp_tests_starter_" />
	</php>
	<testsuites>
		<testsuite name="IntegrationTests">
			<directory suffix="Test.php">./Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
