<phpunit
    bootstrap="tests/bootstrap.dist.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <php>
        <env name="WPTS_DB_URL" value="mysql://db:db@db/test?table_prefix=wp_test_&amp;charset=utf8" />
    </php>
    <testsuites>
        <testsuite name="WpIntegrationTests">
            <directory suffix="Test.php">./tests/WpIntegration</directory>
        </testsuite>
    </testsuites>
</phpunit>
